.body{

	font-style: normal;
	text-transform: none;

	.two-underline{
		margin-top: 80px;
		position: relative;
		color: #262626;

		font-family: Roboto,sans-serif;
		font-size: 2.5em;
		font-weight: 300;
		font-style: normal;
		&:before{
			width: 10%;
			height: 3px;
			background-color: get-color(primary);
			content: '';
			position: absolute;
			top: 80px;
			left: 44%;
		}
		&:after{
			content: '';
			position: absolute;
			top: 80px;
			left: 32%;
			width: 35%;
			height: 1px;
			background-color: rgba(218,221,221,0.5);
		}
	}

	.background-cont{
		padding-bottom: 50px;
		background-color: #ffffff;
		color: $text-color-one;
		input{
			background-color: $body-background;
			color: #BBB3A4;
		}
		label{
			position: relative;
			select{
				background-color: $body-background;
				color: #BBB3A4;
				background-image: none;
			}
			i.icon-down-open{
				position: absolute;
				margin-left: -35px;
				margin-top: 2px;
				font-size: 20px;
				color: #BBB3A4;
			}
		}

		.input-row-two{
			select{
				margin-top: 20px;
			}
			i.icon-down-open{
				margin-top: 20px;
			}
		}
		.input-row-three{
			.slider{
				margin-bottom: 1.50rem;
				height: 0.3rem;
				.slider-handle{
					width: 0.9rem;
					height: 0.9rem;		
					border-radius: 50%;
				}
				.slider-fill{
					height: 0.3rem;
					max-width: 95%;
				}
			}
			fieldset{
					label{
						position: relative;
						/* display: inline; */
						input{
							position: absolute;
							top: 0;
							left: 3px;
							height: 0.5rem;
							display: none;
							&:checked + span.tick-mark-box i {
									display: inline-block;
									margin-left: 0;
									margin-right: 5px;
									padding-left: 15px;
									padding-right: 15px;
								&::before{
									padding-left: 0;
									padding-right: 5px;
								}
							}
						}
						span.tick-mark-box{
							border:1px solid #DDE2E3;
							background-color: #EDF1F2;
							padding: 0px 7px;
							margin: 0px 8px;
							margin-left: -5px;
							position: relative;
							
							i{
								margin-left: -15px;
								margin-right: 5px;
								display: none;
								@include absolute-center;
							}					
						}
					}
				}
	    }
	}

	.services{
		margin-top: 90px;
		 background-image: url("/assets/img/services_bg_01.jpg");
		 height: 500px;
		 .grid-container{
			 background-color: transparent;
			 /* opacity: 0;	 */	 	
			 .single-service{
			 	margin-top: 80px;
			 	background-color: #ffffff;
			 	height: 345px;

			 	.quick-deals-icon{
			 		padding-top: 55px;			 			
			 		font-size: 42px;
			 		i{ 
			 			margin-bottom: 55px;
			 			color: get-color(primary);
			 			 }			 		
			 	}
			 	h4{			 		
			 		margin-top: 35px;
			 		margin-bottom: 15px;
			 		font-size: 1.428em;
			 		a{
			 			color: #262626;
			 		}
			 	}
			 	p{
			 		color: #8f9699;
			 		margin: 0 10px;
			 	}
			 } /* end of single-service */
			 

			 .single-service:hover{
			 	background-color: #4A4A4A;
			 	h4{			 		
			 		a{color: #e6e6e6;}
			 		a:hover{color: get-color(primary);}
			 	}
			 	p{color: #D6D6D6;}
			 }
		 }
	}

	.best-offer{
		padding-top: 85px;
		padding-bottom: 100px;
		background-color: #ffffff;

		.about-offer{			
			h1{
				font-family: Roboto,sans-serif;
				font-size: 2.5em;
				font-weight: 300;
				font-style: normal;
				color: #262626;
				margin-bottom: 50px;
			}

			.content{
				color: #949494;
				margin-bottom: 50px;
			}
		} /* end of about-offer */

		.bg-image{
				position: relative;
			.hotspot-item{
				a{
					background: get-color(primary);
				    width: 24px;
				    height: 24px;
				    border: 2px solid get-color(primary);
				    position: absolute;
				    left: 55%;
				    top: 5%;
				    border-radius: 100%;

				    span{
				    background:#ffffff;
				    width: 10px;
				    height: 10px;
				    border: 2px solid rgba(255,255,255,.4);
				    color: #fff;
				    position: absolute;
				    left: 5px;
				    top: 5px;
				    border-radius: 100%;
				    }
				}

				a.tooltip-two{
					left: 30%;
				    top: 35%;
				}
				a.tooltip-three{
					left: 65%;
				    top: 90%;
				}
			}
		}

		.right-column{
			background-color: #EDF1F2;
			padding-left: 30px;
			h2{

			}
			p{
				span{

				}
			}
			.offer-details{

				.offer-description-left{
					position: relative;
					&:after{
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						width: 1px;
						height: 50%;
						background-color: #949494;
					} 
					p{}
					a{}
				} /* end of offer-description-left */

			} /* end of offer-details */

		} 
	} /* end of best-offer */

	.contact-agents{
		background-color: $white;
		.contact-contents{
			background-color: #1C1E1E;
			padding-right: 55px;
			padding-left: 50px;
			padding-bottom: 75px;
			.two-underline{
					color: #ffffff;
					margin-top: 80px;
					&:before, &:after{
						left: auto;
						right: 0;
					}
					&:before{width: 15%;}
					&:after{width: 45%;}
			}
			p{
			 margin-top: 35px;
			 color: #b7b7b7;
			}
			.grid-x{
				a{
					.img-circle {
				        border-radius: 50%;
				        max-width: 90%;
			    	}
				}
				.name-cell{
					line-height: 1.7rem;
					color: #ffffff;
					margin-top: 5px;
			    	font-size: 20px;
			    	.name{			    		
			    		margin-right: -10px;
			    		margin-left: 5px;
				    	a{
				    		font-size: 18px;
				    		color: #ffffff;
				    	}
			    	}
			    	a:hover{
			    		color: get-color(primary);
			    	}

				}
			}
		}
		.contact-contents-image{
			img{
				width: 100%;
				height: 100%;
			}
		}
	} /* end of contact-agents */

	.newest-offers{
		.grid-container{
			background-color: $body-background;
			.offer-head-content{
				h2{}
				p{
					margin-top: 50px;
					color: #949494;
				}
			}
		}

		.all-offers{
			.cell{
				background-color: #ffffff;
				margin-top: 25px;
			}
			.single-offer{
				position: relative;
				.mask{
					content: ' ';
					position: absolute;
					z-index: 100;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					opacity: 0;
					pointer-events: none;
					-webkit-transition: all ease .5s;
					-ms-transition: all ease .5s;
					transition: all ease .5s;
					background-color: rgba(38,38,38,0.7);
				}
				.eye-icons{
					position: absolute;
					z-index: 102;
					left: 45%;
					top: 40%;
					width: 100%;
					height: 100%;
					display: none;
					font-size: 32px;
					a{
						color: #ffffff;
					}
				}
			} /* end of single-offer */

			.single-offer:hover{
				.mask{
					opacity: 1;
				}
				.eye-icons{
					display: block;
					a:hover{
						color: get-color(primary);
					}
				}
			} /* end of single-offer:hover */

			.single-offer-content, .offer-sale-compare{
				margin-left: 20px;
			}

			.single-offer-content{
				margin-top: 15px;
				p{
					margin-bottom: 1rem;
					line-height: 0.8;
					font-size: 1rem;
				}
				p.address-of-venue a, p.address-of-venue{
					color: #262626;
				}
				p.category-and-area a, p.category-and-area{
					color: #949494;
				}
				p.category-and-area a:hover{
					color: #262626;
				}
				p.price-of-venue{
					color: get-color(primary);
					font-weight: 400;
					font-size: 1.8em;
					span{
						color: #949494;
						margin-bottom: 1rem;
						line-height: 0.8;
						font-size: 1rem;
						}
				}
				.grid-x{
					.cell{
						margin-top: 3px;
					}
				}
			}

			.offer-sale-compare{
				margin-top: 6px;
				.cell:not(:first-child){
					margin-top: 35px;
				}
				.cell:first-child{
					.button{
						background-color: #1d1f1f;
						font-weight: 600;
						font-size: 15px;
					}
					.button:hover{
						background-color: get-color(primary);
					}
				}
				.sale-text{
					margin-left: 35px;

					font-family: Roboto,sans-serif;
					font-size: 1rem;
					font-weight: 300;
					font-style: normal;
					line-height: 2em;
					text-transform: none;

					a{
						color: #262626;
					}
				} /* end of sale-text */

				.home-icon, .compare-icon{
					margin-left: 12px;
				}

				.home-icon a, .compare-icon a{					
					color: #ffffff;
					border-radius: 50%;
					padding: 6px 6px 6px 4px;
					font-size: 80%;
				}
				.home-icon a{
					background-color: get-color(primary);
				}
				.compare-icon a{
					background-color: #1d1f1f;
				}
							
			} /* end of offer-sale-compare */
		}

	} /* end of newest-offers */

	.testimonials{
	margin-top: 70px;
	background-image: url("/assets/img/testimonials_bg_03.jpg");
	height: 700px;
	color: #ffffff !important;
	.grid-container{
				margin-left: 15%;
				margin-right: 15%;
				h4{
					padding-top: 5%;
					margin-bottom: 4%;
					font-size: 1.4286em;
					font-weight: 300;
				}
				h1.two-underline{
					margin-top: -20px;
					margin-bottom: 0;
					color: #ffffff;
					padding-bottom: 50px;
					&:before, &:after{
						top: 70px;
					}
				}
				.orbit-testimonials{
					.orbit-wrapper{
						ul.orbit-container{
							/* overflow: visible; */
							li.orbit-slide{
										/* overflow: visible; */
								figure.orbit-figure{
									.address-rent{
										margin-top: 3%;
										p{

										}
									}
									.name-occupation{
										margin-top: 5%;
										img{
											border-radius: 50%;
											max-width: 100%;
											margin-top: 10px;
										}
										p{
											line-height: 0.5;
											margin-left: 25px;
											text-align: left;
											margin-top: 20px;
										}
										p.name{
											color: #ffffff;
											font-weight: 500;
										}		
									}
								}
							} /* end of li */
						} /* end of ul */				

					}

					nav.orbit-bullets{
						top: 30px;
						margin-top: 1rem;
						margin-bottom: 0.8rem;
						text-align: center;
						button {
						    width: 0.7rem;
						    height: 0.7rem;
						    margin: 0.7rem;
						}
					}
				} /* end of orbit-testimonials */
			}
	}

	.contact{
		background-color: #fff;
		padding-bottom: 100px;
		.contact-us-header{
			padding-bottom: 50px;
		}
		.two-underline{
			&:before, &:after{
				left: 0;
			}
		}
		.conact-details{

		}
		h2, h4{
			color: $dark-text-color;
			font-weight: 300;
		}
		.need-help{
			color: #000000;
			a{
				color: #000000;
			}
			h2{}
			.cleaning-service{
				.trash-box{
					a{font-size: 3rem;}
				}

				.trash-box-details{


				}
			}
		}
	}
	.contact-form{
		margin-top: 90px;
		background-color: #EDF1F2;
		padding: 30px;
		input{
			background-color: #DCE2E3;
		}
		textarea.message-input{
				background-color: #dce2e3;
				border-color: #d0d7d8;
				color: #959b9c;
				border-radius: 2px;
				padding: 0.8em 1.1em 0.85em;
				/* border: 1px solid; */
				outline: none;
				resize: none;

				overflow: auto;
				vertical-align: top;
				min-height: 10em;
		}
		button{
			position:fixed;
			width: 100%;
		}
	}
	
	.map{

	}

}



