footer{
	line-height: 1.2;
	.foot-menu{
		background-color: $footer-background;
		padding-top: 75px;
		padding-bottom: 50px;
		.cell{
			margin-left: 10px;
		}
		h5{
			color: $white;
			margin-bottom: 15px;
			margin-top: 30px;
		}
		.footer-logo img{
			margin-top: 0;
			margin-bottom: 15px;
			width: 70%;
		}

		.footer-logo-text{
			color: #8f9699;
		}

		.footer-social-icons{
				ul li{
					width: 20%;
					a {
						@include flex;
						@include flex-align(center, middle);

						color: #8f9699;
						border: 2px solid #8f9699;

				        padding: 5px 5px 5px 5px;
					    margin-right: 5px;
					    width: 40px;
					    height: 40px;
					    /* display: inline-block; */
					    -moz-border-radius: 50%;
					    -webkit-border-radius: 50%;
					    border-radius: 50%;

					    &:hover{
					    	color: #ffffff;
					    	border-color: #ffffff;
					    }
					}
				}
			}
		.most-commented{
			color: $white;
			.most-commented-avenue{
				margin-bottom: 8px;
				img{
					border-radius: 50%;
					max-width: 90%;
				}
				.details{
					p{
							line-height: 0.9;
							margin-bottom: 10px;
						a{
							line-height: 0.5;
							color: $white;
							padding-bottom: 0;
							font-size: 14px;
							font-weight: 400;

							&:hover{color: get-color(primary);}
						}
					}
					p.date{
						color: #8f9699;
						font-size: 12px;
					}
				} /* end of details */

			}
		}

		.useful-links{
			p{
				color: $white;
				line-height: 0.5;
			}

			ul.menu{
				margin-top: -10px;
				li{
					a{
						color: $body-font-color;
						&:hover{color: get-color(primary);}
						padding-left: 0;
						/* border-bottom: 1px solid $body-font-color; */
					}
					&:not(:last-child){
						border-bottom: 1px solid $body-font-color;
						margin-left: -5px;
					}
				}
			}
		}

		.twitter-feed{
			a{
				color: $white;
				&:hover{
					color: get-color(primary);
				}
			}
		}

	}

	.gutter{
		background-color: #232627;
		padding-top: 15px;
		padding-bottom: 15px;
		.gutter-text{
			p{
				/* color: #8f9699; */
				margin-bottom: 0;
				font-weight: 300;
				a{
					color: $white;
				}
			}
		}

		.gutter-menu{
			ul li a{
				color: $body-font-color;
				&:hover{
					color: get-color(primary);
				}
			}
		}

	}
}
