.header{
	/* start of header top  */
	.header-top{
		background-color: get-color(tertiary);
		color: $body-font-color;
		padding: 12px 0 12px 0;
		font-family: $body-font-family;
	    line-height: 1.5;
	    border: 0 none;

	    font-size: 12px;
	    font-style: normal;
	    outline: 0 none;
	    overflow-wrap: break-word;
	    .header-top-left{
	    	text-align: left;
	    }
	    .header-top-right{
	    	text-align: right;
	    	span:not(:last-child){
				margin-right: 10px;
	    	}
	    	.open-hours{
	    		
	    	}
	    	.vertical-line{
	    		border-right: 1px get-color(quaternary) solid;
	    		height:300px;	    		
	    	}
	    	.pencile a{
	    		color: get-color(quaternary);
	    	}
	    	.pencile a:hover{
	    		color: $white;
	    	}

	    	.login a{
	    		color: $white;
	    		background-color: get-color(primary);
	    		padding: 20px 18px 20px 20px;
	    	}
	    	.login a:hover{
	    		background-color: $footer-background;
	    	}
	    }
	}
	/* end of header top  
	-----------------------
	start of logo and location */
	.logo-and-location{
		margin-top: 50px;
		.logo img{
			width: 200px;
			height: auto;
		}

		.location-and-phone{
			.location-phone{
					span.clock-icon{
						color: get-color(primary);
						font-size: 32px;
					}
					.location-content{

					    span{
						    font-weight: 300;
					    	line-height: 20px;
					    	color: $dark-text-color;
					    	font-size: 16px;
					    	p{
					    		color: $body-font-color;
					    		font-size: 14px;
					    	}
					    }
					}
			}
			.location-phone:last-child{
				margin-left: 15px;
			}
		}
		.location-and-phone div{
		}
	}
	
	/* end of logo-and-location 
	-----------------------
	start of menu-bar */

	.menu-bar{
		.main-menu{
			margin-left: 0;
			ul{
				li{

					ul{
						}
						
					&.is-active ul{
						@keyframes fadeInDown {
							  from {
							    opacity: 0.2;
							    transform: translate3d(0, 20%, 0);
							  }

							  to {
							    opacity: 1;
							    transform: translate3d(0, 0, 0);
							  }
						}

						top: 80%;
						-webkit-animation-name: fadeInDown;
						-webkit-animation-duration: 0.40s;
						animation-name: fadeInDown;
						animation-duration: 0.40s;
					}

					a{
						#rotate{
		        			&:before, &:after{
		       				@include rotateZ(90); 			        	
		        			}
						}

						color: $dark-text-color;
						letter-spacing: 0;
		    			text-transform: uppercase;
		    			font-weight: normal;

					}

					ul{
						li{
							a{
		    				text-transform: none;
							}
						}
					}

				}

				li:last-child a::after{
				    left: 42%;
				    top: 55%;
				    -webkit-transform: translate(-50%,-50%);
				    -ms-transform: translate(-50%,-50%);
				    transform: translate(-50%,-50%);
				    display: block;
				    width: 2em;
				    height: 2em;
				    -webkit-border-radius: 50%;
				    -ms-border-radius: 50%;
				    border-radius: 50%;
				    border-color: #F04357;
				    opacity: 0.5;
				    border: none;
				}

				li:last-child a:hover::after {
		   			background-color: rgba(get-color(primary), 0.8);
				}

				//Drop-Down arrow
				li:not(:last-child) a::after{
				    border-image: none;
				    border: none;
				}

			}
			
		} //End of .main-menu

		.search-box{
			position: relative;
			input{
				margin-left: 0;
				margin-right: 50px;
			}
			.icon-search{
				position: absolute;
				top: 5px;
				right: 5px;
				font-size: 20px;
				color: $dark-text-color;
			}
		}
	}
	
	.orbit-address{

		ul.orbit-container{

			li.orbit-slide{

				figure.orbit-figure{
					figcaption.orbit-caption{
						bottom: auto;
						margin-bottom: auto;
						top: 50px;
						left: 5%;
						background-color: transparent;
						.address-rent{
							display: inline-block;
							.address{
									background-color: get-color(secondary);
									color: $white;
									padding: 25px 25px 5px 25px;
								h1{
									font-weight: 900;
									font-size: 40px;
									padding-bottom: 0;
									span{
										font-weight: $global-weight-normal;
									}
								}
								p span{
									font-weight: 300;
									font-size: 32px;
									color: $light-dark-color;
									padding-bottom: 0;
									margin-bottom: 0;
									line-height: 0;
								}
							}
							.rent{
								margin: 0 0 0 0;
								strong{
									font-weight: 900;
									font-size: 32px;
									background-color: get-color(primary);
									padding: 30px 35px;
									line-height: 1;
									span{
										font-weight: 400;
										font-size: 20px;
									}
								}
								.arrow{
										font-weight: 600;
										font-size: 16px;
										background-color: $white;
										padding: 10px 35px;
										i.icon-right{
											color: #1C1E1D;
											width: 2em;
											height: 2em;
											border: 0.1em solid #1C1E1D;
											border-radius: 50%;
											padding: 2px 4px;
										}
								}
							}
						}
					} /* end of figcaption.orbit-caption */
				}
			}
		} /* end of ul.orbit-container */

		.orbit-bullets{
			bottom: 100px;
			text-align: left;
			margin-left: 50px;
			button {
			    width: 0.6rem;
			    height: 0.6rem;
			    margin: 0.3rem;
			    border-radius: 50%;
			    background-color: $medium-gray;
			}
		}

	}	
}

