<div class="body">
  <div class="grid-container background-cont">
    <div class="grid-x grid-margin-x">
      <div class="large-4 medium-4 small-12 cell">
          <label>Enter an address
            <input type="text" placeholder="Enter an address, city, ZIP or property ID">
          </label>
      </div>
      <div class="large-2 medium-2 small-6 cell location custom-arrow">
        <label>Location
          <select>
            <option value="husker" class="location-contry" value=""> - Country - </option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
            <i class="icon-down-open"></i>
        </label>
      </div>
      <div class="large-2 medium-2 small-6 cell custom-arrow">
        <label>State
          <select>
            <option value="husker" class="location-contry"> - Country/State - </option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
          <i class="icon-down-open"></i>
        </label>
      </div>
      <div class="large-2 medium-2 small-6 cell custom-arrow">
        <label>City
          <select>
            <option value="husker" class="location-contry"> - City - </option>
            <option value="starbuck">Starbuck</option>Neighborhood
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
          <i class="icon-down-open"></i>
        </label>
      </div>
      <div class="large-2 medium-2 small-6 cell custom-arrow">
        <label>Neighborhood
          <select>
            <option value="husker" class="location-contry"> - Neighborhood - </option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
          <i class="icon-down-open"></i>
        </label>
      </div>
    </div>

    <div class="grid-x grid-margin-x input-row-two">

      <div class="large-3 medium-3 small-6 cell location custom-arrow">
        <label>
          <select>
            <option value="husker" class="location-contry"> - Status - </option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
          <i class="icon-down-open"></i>
        </label>
      </div>
      
      <div class="large-3 medium-3 small-6 cell custom-arrow">
        <label>
          <select>
            <option value="husker" class="location-contry"> - Type - </option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
          <i class="icon-down-open"></i>
        </label>
      </div>
      
      <div class="large-3 medium-3 small-6 cell custom-arrow">
        <label>
          <select>
            <option value="husker" class="location-contry"> - Labels - </option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
          <i class="icon-down-open"></i>
        </label>
      </div>
      
      <div class="large-3 medium-3 small-6 cell custom-arrow">
        <label>
          <select>
            <option value="husker" class="location-contry"> - Date Descending - </option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
          <i class="icon-down-open"></i>
        </label>
      </div>
    </div>

    <div class="grid-x grid-margin-x input-row-three">
      <div class="large-12 medium-12 small-12 cell">
        <hr>
      </div>

      <div class="large-3 medium-3 small-6 cell">
        <div class="bed-filter">Bedrooms</div>
        <div class="slider" data-slider data-initial-start="25" data-initial-end="75">
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
          <span class="slider-fill" data-slider-fill></span>
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
          <input type="hidden">
          <input type="hidden">
        </div>

        <fieldset class="">
          <label for="checkbox1">
            <input id="checkbox1" type="checkbox">
            <span class="tick-mark-box"><i class="icon-ok-1"></i></span>
            Air Conditioning
          </label>
          <label for="checkbox2">
            <input id="checkbox2" type="checkbox">
            <span class="tick-mark-box"><i class="icon-ok-1"></i></span>
            Kitchen
          </label>
        </fieldset>
      </div>
      
      <div class="large-3 medium-3 small-6 cell">
        <div class="bed-filter">Bathrooms</div>
        <div class="slider" data-slider data-initial-start="25" data-initial-end="75">
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
          <span class="slider-fill" data-slider-fill></span>
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
          <input type="hidden">
          <input type="hidden">
        </div>
        <fieldset class="">
          <label for="checkbox3">
            <input id="checkbox3" type="checkbox">
            <span class="tick-mark-box"><i class="icon-ok-1"></i></span>
          Barbeque
          </label>
          <label for="checkbox4">
            <input id="checkbox4" type="checkbox">
            <span class="tick-mark-box"><i class="icon-ok-1"></i></span>
          Laundry
          </label>
        </fieldset>
      </div>
      
      <div class="large-3 medium-3 small-6 cell">
        <div class="bed-filter">Area size</div>
        <div class="slider" data-slider data-initial-start="25" data-initial-end="75">
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
          <span class="slider-fill" data-slider-fill></span>
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
          <input type="hidden">
          <input type="hidden">
        </div>
        <fieldset class="">

          <label for="checkbox5">
            <input id="checkbox5" type="checkbox">
            <span class="tick-mark-box"><i class="icon-ok-1"></i></span>
          Cable TV
          </label>
          <label for="checkbox6">
            <input id="checkbox6" type="checkbox">
            <span class="tick-mark-box"><i class="icon-ok-1"></i></span>
          Swimming Pool
          </label>
        </fieldset>
      </div>
      
      <div class="large-3 medium-3 small-6 cell">
        <div class="bed-filter">Price</div>
        <div class="slider" data-slider data-initial-start="25" data-initial-end="75">
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
          <span class="slider-fill" data-slider-fill></span>
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
          <input type="hidden">
          <input type="hidden">
        </div>
        <fieldset class="">

          <label for="checkbox7">
            <input id="checkbox7" type="checkbox">
            <span class="tick-mark-box"><i class="icon-ok-1"></i></span>
            Dryer
          </label>
          <label for="checkbox8">
            <input id="checkbox8" type="checkbox">
            <span class="tick-mark-box"><i class="icon-ok-1"></i></span>
            Wi-Fi
          </label>
        </fieldset>
      </div>
    </div> 
  </div> <!-- end of grid-container -->

  <div class="services">
    <div class="grid-container">

      <div class="grid-x grid-margin-x">
      
        <div class="large-3 medium-3 small-12 cell">
          <div class="single-service text-center">
            <div class="quick-deals-icon"><i class="icon-key"></i></div>
              <h4><a href="">Quick Deals</a></h4>
              <p>It’s fun and easy to create your professionally looking website using GoodHomes Theme!</p>
            </div>
        </div>
      
        <div class="large-3 medium-3 small-12 cell">
          <div class="single-service text-center">
            <div class="quick-deals-icon"><i class="icon-thumbs-up"></i></div>
              <h4><a href="">Experience</a></h4>
              <p>It’s fun and easy to create your professionally looking website using GoodHomes Theme!</p>
            </div>
        </div>
      
        <div class="large-3 medium-3 small-12 cell">
          <div class="single-service text-center">
            <div class="quick-deals-icon"><i class="icon-star"></i></div>
              <h4><a href="">Exclusive Offers</a></h4>
              <p>It’s fun and easy to create your professionally looking website using GoodHomes Theme!</p>
            </div>
        </div>
      
        <div class="large-3 medium-3 small-12 cell">
          <div class="single-service text-center">
            <div class="quick-deals-icon"><i class="icon-heart"></i></div>
              <h4><a href="">Happy Clients</a></h4>
              <p>It’s fun and easy to create your professionally looking website using GoodHomes Theme!</p>
            </div>
        </div>
      </div>

    </div>
  </div> <!-- end of services -->

  <!-- Start of Best Offer for Rent -->
  <div class="best-offer">
    <div class="grid-container">
      <div class="grid-x">
        <div class="about-offer text-center large-12 medium-12 small-12 cell">        
          <h1 class="two-underline">Best Offer for Rent</h1>
          <div class="content">
            <p>Residences can be classified by, if, and how they are connected to neighbouring residences and land. Different types of housing tenure can be used for the same physical type. For example, connected residents.</p>
          </div>
        </div>

        <div class="large-6 medium-6 small-12 cell">
          <div class="bg-image">
          <img src="/assets/img/offer_01_bg.jpg" alt="">

            <div class="hotspot-item" data-top="8%" data-left="51%">
              <a class="tooltip-one" href="" data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="3" title="Someone not using Foundation.">
                <span></span>              
              </a>
            </div>

            <div class="hotspot-item" data-top="8%" data-left="51%">
              <a class="tooltip-two" href="" data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="3" title="Someone not using Foundation.">
                <span></span>              
              </a>
            </div>

            <div class="hotspot-item" data-top="8%" data-left="51%">
              <a class="tooltip-three" href="" data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="3" title="Someone not using Foundation.">
                <span></span>              
              </a>
            </div>

          </div>
        </div>

        <div class="large-6 medium-6 small-12 cell right-column">
          <h4>215 Sunny St., Newport Beach</h4>
          <p>Apartment</p>
          <p>
            $800
          <span class=""> /month</span>
          </p>

          <div class="offer-details">
            <div class="grid-x grid-margin-x">

              <div class="large-6 medium-6 small-12 cell offer-description-left">
                <p>4 beds, 2 three-quarter baths</p>
                <p>Home size: 1,850 sq ft</p>
                <p>Lot size: 7,000 sq ft</p>
                <br>
                <a href="" class="button">VIEW OFFER <i class="icon-right"></i></a>
              </div>

              <div class="large-6 medium-6 small-12 cell">
                <p>Year built: 2010</p>
                <p>Parking spots: 2</p>
                <p>Days on market: 2,976</p>
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="contact-agents">
    <div class="grid-x">
      <div class="large-6 medium-6 small-12 cell contact-contents">
        <h4 class="text-right two-underline">Feel Free to Contact Our Agents</h4>
        <p class="text-right">Fusce rutrum auctor odio vel sodales maecenas sit amet dignissim ex. Sed volutpat hendrerit nisl eget at mattis praesent maximus lectus in nulla fringilla, id euismod libero consequat etiam tellus justo, hendrerit amet.</p>
        <div class="grid-x grid-margin-x">

          <div class="large-6 medium-6 small-6 cell">
              <div class="grid-x">
                <div class="large-3 medium-3 cell">
                <a href=""><img class="img-circle" src="/assets/img/team_member_01.jpg"></a>
                </div>
                <div class="large-9 medium-9 cell name-cell">
                  <div class="name">
                    <a href="">Frank Marshall</a>
                  </div>
                  <div class="icon-cell">
                    <i class="icon-phone-outline"></i>  374-416-2931
                  </div>
                </div>
              </div>
          </div>

          <div class="large-6 medium-6 small-6 cell">
              <div class="grid-x">
                <div class="large-3 medium-3 cell">
                <a href=""><img class="img-circle" src="/assets/img/team_member_02.jpg"></a>
                </div>
                <div class="large-9 medium-9 cell name-cell">
                  <div class="name">
                    <a href="">Frank Marshall</a>
                  </div>
                  <div class="icon-cell">
                    <i class="icon-phone-outline"></i>  374-416-2931
                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>

      <div class="large-6 medium-6 small-12 cell contact-contents-image">
        <img src="/assets/img/agent_bg_image.jpg" alt="">
      </div>
    </div>
  </div>
  
  <div class="newest-offers">
    <div class="grid-container">

      <div class="grid-x grid-margin-x">
        <div class="large-12 medium-12 small-12 cell text-center offer-head-content">
          <h2 class="two-underline">Newest Offers</h2>
          <p>A studio apartment has a single bedroom with no living room (possibly a separate kitchen). A one-bedroom apartment has a living or dining room separate from the bedroom. Two bedroom, three bedroom, and larger.</p>
        </div>
      </div>

      <div class="all-offers grid-x grid-margin-x">

        <div class="large-4 medium-4 small-12 cell">
          <div class="single-offer">  
            <img src="../assets/img/offer_01-370x208.jpg" alt="">
            <div class="mask"></div>
            <div class="eye-icons">
              <a href=""><i class="icon-eye"></i></a>
            </div>
          </div>

          <div class="single-offer-content">
            <p class="address-of-venue">123 S Sawyer ave, <a class="place" href="">Chicago</a></p>
            <p class="category-and-area"><a class="category-1" href="">Multi Family House </a>1800 sq ft </p>
            <p class="price-of-venue">$56 000 </p>
            <div class="grid-x grid-margin-x">
              <div class="shrink cell">Built: 2010</div>
              <div class="shrink cell">Area: 1800 sq ft</div>
              <div class="shrink cell">Beds: 4</div>
              <div class="shrink cell">Baths: 3</div>
              <div class="auto cell">Garages: 2 (4 auto)</div>
            </div>
          </div>

          <div class="offer-sale-compare">
            <div class="grid-x">
            
              <div class="shrink cell view-offer-btn">
                <a href="" class="button">VIEW OFFER <i class="icon-right"></i></a>
              </div>
              <div class="shrink cell sale-text">
                <a href="">Sale</a>
              </div>
              <div class="shrink cell home-icon">
                <a href=""><i class="icon-home-outline"></i></a>
              </div>
              <div class="shrink cell compare-icon">
                <a href=""><i class="icon-balance-scale"></i></a>
              </div>

            </div>
          </div>
        </div>

        <div class="large-4 medium-4 small-12 cell">
          <div class="single-offer">  
            <img src="../assets/img/offer_02-370x208.jpg" alt="">
            <div class="mask"></div>
            <div class="eye-icons">
              <a href=""><i class="icon-eye"></i></a>
            </div>
          </div>

          <div class="single-offer-content">
            <p class="address-of-venue">123 S Sawyer ave, <a class="place" href="">Chicago</a></p>
            <p class="category-and-area"><a class="category-1" href="">Multi Family House </a>1800 sq ft </p>
            <p class="price-of-venue">$21 00 <span>/month</span></p>
            <div class="grid-x grid-margin-x">
              <div class="shrink cell">Built: 2010</div>
              <div class="shrink cell">Area: 1800 sq ft</div>
              <div class="shrink cell">Beds: 4</div>
              <div class="shrink cell">Baths: 3</div>
              <div class="auto cell">Garages: 2 (4 auto)</div>
            </div>
          </div>

          <div class="offer-sale-compare">
            <div class="grid-x">
            
              <div class="shrink cell view-offer-btn">
                <a href="" class="button">VIEW OFFER <i class="icon-right"></i></a>
              </div>
              <div class="shrink cell sale-text">
                <a href="">Rent</a>
              </div>
              <div class="shrink cell home-icon">
                <a href=""><i class="icon-home-outline"></i></a>
              </div>
              <div class="shrink cell compare-icon">
                <a href=""><i class="icon-balance-scale"></i></a>
              </div>

            </div>
          </div>
        </div>

        <div class="large-4 medium-4 small-12 cell">
          <div class="single-offer">  
            <img src="../assets/img/offer_01-370x208.jpg" alt="">
            <div class="mask"></div>
            <div class="eye-icons">
              <a href=""><i class="icon-eye"></i></a>
            </div>
          </div>

          <div class="single-offer-content">
            <p class="address-of-venue">123 S Sawyer ave, <a class="place" href="">Chicago</a></p>
            <p class="category-and-area"><a class="category-1" href="">Multi Family House </a>1800 sq ft </p>
            <p class="price-of-venue">$56 000 </p>
            <div class="grid-x grid-margin-x">
              <div class="shrink cell">Built: 2010</div>
              <div class="shrink cell">Area: 1800 sq ft</div>
              <div class="shrink cell">Beds: 4</div>
              <div class="shrink cell">Baths: 3</div>
              <div class="auto cell">Garages: 2 (4 auto)</div>
            </div>
          </div>

          <div class="offer-sale-compare">
            <div class="grid-x">
            
              <div class="shrink cell view-offer-btn">
                <a href="" class="button">VIEW OFFER <i class="icon-right"></i></a>
              </div>
              <div class="shrink cell sale-text">
                <a href="">Sale</a>
              </div>
              <div class="shrink cell home-icon">
                <a href=""><i class="icon-home-outline"></i></a>
              </div>
              <div class="shrink cell compare-icon">
                <a href=""><i class="icon-balance-scale"></i></a>
              </div>

            </div>
          </div>
        </div>

        <div class="large-4 medium-4 small-12 cell">
          <div class="single-offer">  
            <img src="../assets/img/offer_01-370x208.jpg" alt="">
            <div class="mask"></div>
            <div class="eye-icons">
              <a href=""><i class="icon-eye"></i></a>
            </div>
          </div>

          <div class="single-offer-content">
            <p class="address-of-venue">123 S Sawyer ave, <a class="place" href="">Chicago</a></p>
            <p class="category-and-area"><a class="category-1" href="">Multi Family House </a>1800 sq ft </p>
            <p class="price-of-venue">$56 000 </p>
            <div class="grid-x grid-margin-x">
              <div class="shrink cell">Built: 2010</div>
              <div class="shrink cell">Area: 1800 sq ft</div>
              <div class="shrink cell">Beds: 4</div>
              <div class="shrink cell">Baths: 3</div>
              <div class="auto cell">Garages: 2 (4 auto)</div>
            </div>
          </div>

          <div class="offer-sale-compare">
            <div class="grid-x">
            
              <div class="shrink cell view-offer-btn">
                <a href="" class="button">VIEW OFFER <i class="icon-right"></i></a>
              </div>
              <div class="shrink cell sale-text">
                <a href="">Sale</a>
              </div>
              <div class="shrink cell home-icon">
                <a href=""><i class="icon-home-outline"></i></a>
              </div>
              <div class="shrink cell compare-icon">
                <a href=""><i class="icon-balance-scale"></i></a>
              </div>

            </div>
          </div>
        </div>

        <div class="large-4 medium-4 small-12 cell">
          <div class="single-offer">  
            <img src="../assets/img/offer_01-370x208.jpg" alt="">
            <div class="mask"></div>
            <div class="eye-icons">
              <a href=""><i class="icon-eye"></i></a>
            </div>
          </div>

          <div class="single-offer-content">
            <p class="address-of-venue">123 S Sawyer ave, <a class="place" href="">Chicago</a></p>
            <p class="category-and-area"><a class="category-1" href="">Multi Family House </a>1800 sq ft </p>
            <p class="price-of-venue">$56 000 </p>
            <div class="grid-x grid-margin-x">
              <div class="shrink cell">Built: 2010</div>
              <div class="shrink cell">Area: 1800 sq ft</div>
              <div class="shrink cell">Beds: 4</div>
              <div class="shrink cell">Baths: 3</div>
              <div class="auto cell">Garages: 2 (4 auto)</div>
            </div>
          </div>

          <div class="offer-sale-compare">
            <div class="grid-x">
            
              <div class="shrink cell view-offer-btn">
                <a href="" class="button">VIEW OFFER <i class="icon-right"></i></a>
              </div>
              <div class="shrink cell sale-text">
                <a href="">Sale</a>
              </div>
              <div class="shrink cell home-icon">
                <a href=""><i class="icon-home-outline"></i></a>
              </div>
              <div class="shrink cell compare-icon">
                <a href=""><i class="icon-balance-scale"></i></a>
              </div>

            </div>
          </div>
        </div>

        <div class="large-4 medium-4 small-12 cell">
          <div class="single-offer">  
            <img src="../assets/img/offer_01-370x208.jpg" alt="">
            <div class="mask"></div>
            <div class="eye-icons">
              <a href=""><i class="icon-eye"></i></a>
            </div>
          </div>

          <div class="single-offer-content">
            <p class="address-of-venue">123 S Sawyer ave, <a class="place" href="">Chicago</a></p>
            <p class="category-and-area"><a class="category-1" href="">Multi Family House </a>1800 sq ft </p>
            <p class="price-of-venue">$56 000 </p>
            <div class="grid-x grid-margin-x">
              <div class="shrink cell">Built: 2010</div>
              <div class="shrink cell">Area: 1800 sq ft</div>
              <div class="shrink cell">Beds: 4</div>
              <div class="shrink cell">Baths: 3</div>
              <div class="auto cell">Garages: 2 (4 auto)</div>
            </div>
          </div>

          <div class="offer-sale-compare">
            <div class="grid-x">
            
              <div class="shrink cell view-offer-btn">
                <a href="" class="button">VIEW OFFER <i class="icon-right"></i></a>
              </div>
              <div class="shrink cell sale-text">
                <a href="">Sale</a>
              </div>
              <div class="shrink cell home-icon">
                <a href=""><i class="icon-home-outline"></i></a>
              </div>
              <div class="shrink cell compare-icon">
                <a href=""><i class="icon-balance-scale"></i></a>
              </div>

            </div>
          </div>
        </div>

      </div> <!-- end of all-offers -->

      </div> <!-- end of grid-container -->
  </div> <!-- end of newest-offers -->

<!-- </div> -->

  <div class="testimonials text-center">
    <div class="grid-container">
      <div class="text-content">
        <h4>Testimonials</h4>
        <h1 class="two-underline">We're Proud of Our Work</h1>
      </div>
      <div class="orbit-testimonials">
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
          <div class="orbit-wrapper">
            <ul class="orbit-container">

              <li class="is-active orbit-slide">
                <figure class="orbit-figure">
                    <div class="address-rent">
                      <p>If you are looking for a professional and responsible agent, GoodHomes is the right place for you. I am absolutely happy about the level of service. Thank you very much!</p>
                    </div>
                  <div class="name-occupation grid-x gird-margin-x align-center align-middle">
                    <div class="cell shrink">
                      <img src="/assets/img/testimon-3-90x90.jpg" alt="Space">
                    </div>
                    <div class="details cell shrink">
                      <p class="name">Nancy Freeman</p>
                      <p class="occupation">Lawyer</p>
                    </div>
                  </div>
                </figure>
              </li>  
              <li class="is-active orbit-slide">
                <figure class="orbit-figure">
                    <div class="address-rent">
                      <p>If you are looking for a professional and responsible agent, GoodHomes is the right place for you. I am absolutely happy about the level of service. Thank you very much!</p>
                    </div>
                  <div class="name-occupation grid-x gird-margin-x align-center align-middle">
                    <div class="cell shrink">
                      <img src="/assets/img/testimon-4-90x90.jpg" alt="Space">
                    </div>
                    <div class="details cell shrink">
                      <p class="name">Nancy Freeman</p>
                      <p class="occupation">Lawyer</p>
                    </div>
                  </div>
                </figure>
              </li>  
              <li class="is-active orbit-slide">
                <figure class="orbit-figure">
                    <div class="address-rent">
                      <p>If you are looking for a professional and responsible agent, GoodHomes is the right place for you. I am absolutely happy about the level of service. Thank you very much!</p>
                    </div>
                  <div class="name-occupation grid-x gird-margin-x align-center align-middle">
                    <div class="cell shrink">
                      <img src="/assets/img/testimon-5-90x90.jpg" alt="Space">
                    </div>
                    <div class="details cell shrink">
                      <p class="name">Nancy Freeman</p>
                      <p class="occupation">Lawyer</p>
                    </div>
                  </div>
                </figure>
              </li>   

            </ul>
          </div>
          <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
          </nav>
        </div>
      </div>

    </div>
  </div>

  <div class="contact">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="large-8 medium-8 small-12 cell">
          <div class="contact-us-header two-underline">
            Contact Us and Find Your Home!
          </div>
          <div class="conact-details">
            <p>Our broker centers are located throughout the entire country ensuring you get our assistance in every state. Our professional real estate team made sure you get the highest level of help with your property quests.</p>
          </div>

          <h2>Need Some Help?</h2>

          <div class="need-help grid-x grid-margin-x">
          
            <div class="large-6 medium-6 small-12 cell">
              <div class="cleaning-service">
                <div class="grid-x grid-margin-x">

                  <div class="trash-box large-3 medium-3 small-6 cell">
                    <a href=""><i class="icon-trash"></i></a>
                  </div>                

                  <div class="trash-box-details large-9 medium-9 small-6 cell">
                    <h4><a href="">Cleaning Service</a></h4>
                    <p><a href="">It’s fun and easy to create your professionally looking website using GoodHomes Theme!</a></p>
                    <div class="learn-more">
                      <a href="">Learn More<i class="icon-right-open-mini"></i></a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="large-6 medium-6 small-12 cell">
              <div class="cleaning-service">
                <div class="grid-x grid-margin-x">

                  <div class="trash-box large-3 medium-3 small-6 cell">
                    <a href=""><i class="icon-pencil-1"></i></a>
                  </div>                

                  <div class="trash-box-details large-9 medium-9 small-6 cell">
                    <h4><a href="">Cleaning Service</a></h4>
                    <p><a href="">It’s fun and easy to create your professionally looking website using GoodHomes Theme!</a></p>
                    <div class="learn-more">
                      <a href="">Learn More<i class="icon-right-open-mini"></i></a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="large-4 medium-4 small-12 cell">

          <div class="contact-form">
            
            <form>
              <div class="grid-container">
                <div class="grid-x grid-padding-x">
                  <div class="large-12 medium-12 small-12 cell">
                      <input type="text" placeholder="Name" class="name-input">
                  </div>

                  <div class="large-12 medium-12 small-12 cell">
                    <input type="text" placeholder="Email" class="email-input">
                  </div>
                  
                  <div class="large-6 medium-6 small-12 cell">
                    <div class="date" id="my_date_filed" data-date="" data-date-format="dd M, yyyy">
                      <div class="input-group">
                        <input class="input-group-field" type="text" name="date-input" value="Date" placeholder="Date"/>
                        <span class="postfix input-group-label"><i class="icon-calendar"></i></span>
                      </div>
                    </div> 
                  </div>      

                  <div class="large-6 medium-6 small-12 cell">
                    <div class="date" id="my_date_filed" data-date="" data-date-format="dd M, yyyy">
                      <div class="input-group">
                        <input class="input-group-field" type="text" name="time-input" value="Time" placeholder="Time"/>
                        <span class="postfix input-group-label"><i class="icon-clock"></i></span>
                      </div>
                    </div> 
                  </div>

                  <div class="large-12 medium-12 small-12 cell">
                    <textarea class="message-input" type="text" name="message-input" placeholder="Message"></textarea>
                  </div>

                  <div class="large-12 medium-12 small-12 cell">
                    <button type="button" class="alert button" name="submit">SUBMIT</button>
                  </div>

                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div> <!-- end of contact -->

  <div class="map">
    <div class="write">
         <!--  <img src="img/write.jpg" alt=""> -->
      <div id="map" style="width:100%;height:500px"></div>

      <script>
        function initMap() {

          var uluru = {lat: 22.804892, lng: 89.542102};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdyZkWInk61ppgRY2B_ef0qrn0r1UoPkk&callback=initMap">
      </script>

    </div>
  </div>

</div> <!-- end of body -->
