  <footer>
    <div class="foot-menu">
      <div class="grid-container">
        <div class="grid-x">

          <div class="auto cell">

              <div class="footer-logo">
                <img src="/assets/img/logo.png" alt="">
              </div>
              <div class="footer-logo-text">
                <p>This is the perfect four bedroom family home on an idyllic block, in one of Chicago's nicest suburbs.</p>
              </div>
              <div class="footer-social-icons">
                <ul class="menu">
                  <li class=""><a href=""><i class="icon-facebook"></i></a></li>
                  <li class=""><a href=""><i class="icon-twitter"></i></a></li>
                  <li class=""><a href=""><i class="icon-linkedin"></i></a></li>
                  <li class=""><a href=""><i class="icon-google"></i></a></li>
                  <li class=""><a href=""><i class="icon-vimeo"></i></a></li>
                </ul>
              </div>
          </div> <!-- end of cell -->

          <div class="most-commented large-3 medium-3 small-6 cell">
            <h5>Most Commented</h5>
            <div class="most-commented-avenue">
              <div class="grid-x align-justify">
                <div class="large-3 medium-3 small-3 cell">
                  <img src="/assets/img/most-commented-one.jpg" alt="Space">
                </div>
                <div class="details auto cell">
                  <p class="name"><a href="">The Best of San Francisco Houses</a></p>
                  <p class="date">April 12, 2017</p>
                </div>
              </div>
            </div>
            <div class="most-commented-avenue">
              <div class="grid-x align-justify">
                <div class="large-3 medium-3 small-3 cell">
                  <img src="/assets/img/most-commented-two.jpg" alt="Space">
                </div>
                <div class="details auto cell">
                  <p class="name"><a href="">T8 Ways Real Estate Is Your Smartest</a></p>
                  <p class="date">April 8, 2017</p>
                </div>
              </div>
            </div>
          </div>

          <div class="useful-links large-2 medium-2 small-6 cell">
            <h5>Useful Links</h5>
            <ul class="menu vertical">
              <li><a href=""> <i class="icon-right"> </i> About Us</a></li>
              <li><a href=""> <i class="icon-right"> </i> Pricing</a></li>
              <li><a href=""> <i class="icon-right"> </i> Our Services</a></li>
              <li><a href=""> <i class="icon-right"> </i> Properties</a></li>
            </ul>
          </div>

          <div class="twitter-feed large-3 medium-3 small-6 cell">
            <h5>Twitter Feed</h5>
            <div class="grid-x align-justify">

              <div class="cell shrink">
                <i class="icon-twitter"></i>
              </div>

              <div class="cell auto">
                <p><a href="">@TrxDoe</a> RT @envato: One subscription, 5000+ assets & unlimited downloads; Elements is out of beta! Sign up at <a href="">enva.to/elements</a>. https://t.co…</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="gutter">
      
      <div class="grid-container">
        <div class="grid-x align-justify align-middle">

          <div class="shrink cell">
            <div class="gutter-text">
              <p><a href="">ThemeREX © 2017</a> All Rights Reserved. <a href="">Terms of Use</a> and <a href="">Privacy Policy</a></p>
            </div>
          </div>

          <div class="shrink cell">
            <div class="gutter-menu">
              <ul class="menu">
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">Our Services</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Contacts</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>
