<div class="header">

    <div class="header-top">
      <div class="grid-container">
        <div class="grid-x grid-margin-x align-justify">

          <div class="shrink cell">
            <div class="header-top-left">
              The Ultimate Insider's Guide to City Real Estate
            </div>
          </div>

          <div class="shrink cell">
            <div class="header-top-right">
              <span class="clock-icon"><i class="icon-clock"></i></span>
              <span class="open-hours-text">Open Hours:</span>
              <span class="open-hours">Mn - St, 8:00 a.m. - 9:00 p.m.</span>
              <span class="vertical-line"></span>
              <span class="pencile"><a href=""><i class="icon-pencil" aria-hidden="true"> Register</i></a></span>           
              <span class="login"><a href=""><i class="icon-login" aria-hidden="true"> Login</i></a></span>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- end of header-top -->
  

    <div class="logo-and-location">
      <div class="grid-container">
        <div class="grid-x align-justify">
        
          <div class="shrink cell">
            <div class="logo">
              <img src="../assets/img/logo.png" alt="">
            </div>
          </div>        

          <div class="shrink cell location-and-phone">
              <div class="grid-x align-justify">

                <div class="shrink cell grid-x align-justify location-phone">
                      <div class="shrink cell location-icon icon-content">
                        <span class="clock-icon"><i class="icon-location-outline"></i></span>
                      </div>

                      <div class="shrink cell location-content">
                        <span>123 Homes Street <p>Chicago, IL 60606</p></span>
                      </div>
                </div>

              <div class="shrink cell grid-x align-justify location-phone">
                    <div class="shrink cell phone-icon">
                      <span class="clock-icon"><i class="icon-location-outline"></i></span>    
                    </div>

                    <div class="shrink cell location-content">
                      <span>123-456-7890 <p>info@goodhomes.com</p></span>
                    </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="separator">
      <div class="grid-container">
        <hr>
      </div>
    </div>

    <div class="menu-bar">
      <div class="grid-container">
        <div class="grid-x align-justify">

          <div class="shrink cell">
            <div class="main-menu">
                <ul class="dropdown menu" data-dropdown-menu>

                  <li class="dropdown-effect">
                    <a href="#">Home <i class="icon-down-open"></i></a>
                    <ul class="menu">
                      <li><a href="#">Item 1A</a></li>
                      <li><a href="#">Item 1A</a></li>
                      <li><a href="#">Item 1A</a></li>
                    </ul>
                  </li>  

                  <li class="dropdown-effect">
                    <a href="#">Features <i class="icon-down-open"></i></a>
                    <ul class="menu">
                      <li><a href="#">Item 1A</a></li>
                      <li><a href="#">Item 1A</a></li>
                      <li><a href="#">Item 1A</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Properties</a></li>
                  <li><a href="#">Pricing</a></li>

                  <li class="dropdown-effect">
                    <a href="#">Blog <i class="icon-down-open"></i></a>
                    <ul class="menu">
                      <li><a href="#">Item 1A</a></li>
                      <li><a href="#">Item 1A</a></li>
                      <li><a href="#">Item 1A</a></li>
                    </ul>
                  </li>   

                  <li class="dropdown-effect">
                    <a href="#">
                      <i class="icon-dot-3" id="rotate"></i>
                    </a>
                    <ul class="menu">
                      <li><a href="#">Contacts</a></li>
                    </ul>
                  </li>
                  
                </ul>
            </div>
          </div>

          <div class="shrink cell">
            <form>
              <div class="search-box">
                  <input type="text" placeholder="search here">
                  <span><i class="icon-search" aria-hidden="true"></i></span>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    
    <div class="orbit-address">
      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <div class="orbit-wrapper">
          <div class="orbit-controls">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          </div>
          <ul class="orbit-container">
          
            <li class="is-active orbit-slide">
              <figure class="orbit-figure">
                <img class="orbit-image" src="assets/img/slide_1.jpg" alt="Space">
                <figcaption class="orbit-caption">
                  <div class="address-rent">
                    <div class="address">
                      <!-- <strong></strong> -->
                      <h1>123 ELSTON <span> AVENUE</span></h1>
                      <p><span>Chicago, IL 60606</span></p>
                    </div>
                    <div class="rent flex-container">
                    <strong>$800 <span>/month</span> </strong>
                    <a class="arrow flex-container align-middle align-center" href=""><i class="icon-right" aria-hidden="true"> </i></a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </li>        
              
            <li class="orbit-slide">
              <figure class="orbit-figure">
                <img class="orbit-image" src="assets/img/slide_2.jpg" alt="Space">
                <figcaption class="orbit-caption">
                  <div class="address-rent">
                    <div class="address">
                      <!-- <strong></strong> -->
                      <h1>221B Baker Street <span> AVENUE</span></h1>
                      <p><span>London, England</span></p>
                    </div>
                    <div class="rent flex-container">
                    <strong>$800 <span>/month</span> </strong>
                    <a class="arrow flex-container align-middle align-center" href=""><i class="icon-right" aria-hidden="true"> </i></a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </li>

            <li class="orbit-slide">
              <figure class="orbit-figure">
                <img class="orbit-image" src="assets/img/slide_4.jpg" alt="Space">
                <figcaption class="orbit-caption">
                  <div class="address-rent">
                    <div class="address">
                      <!-- <strong></strong> -->
                      <h1>44 Eaton Square <span> AVENUE</span></h1>
                      <p><span>Irene Adler, London</span></p>
                    </div>
                    <div class="rent flex-container">
                    <strong>$800 <span>/month</span> </strong>
                    <a class="arrow flex-container align-middle align-center" href=""><i class="icon-right" aria-hidden="true"> </i></a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </li>

            <li class="orbit-slide">
              <figure class="orbit-figure">
                <img class="orbit-image" src="assets/img/slide_2.jpg" alt="Space">
                <figcaption class="orbit-caption">
                  <div class="address-rent">
                    <div class="address">
                      <!-- <strong></strong> -->
                      <h1>221B Baker Street <span> AVENUE</span></h1>
                      <p><span>London, England</span></p>
                    </div>
                    <div class="rent flex-container">
                    <strong>$800 <span>/month</span> </strong>
                    <a class="arrow flex-container align-middle align-center" href=""><i class="icon-right" aria-hidden="true"> </i></a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </li>

          </ul>
        </div>
        <nav class="orbit-bullets">
          <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
          <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
          <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
          <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        </nav>
      </div>
    </div>

</div>
