

/* body {
    font-family: Arial, sans-serif;
    position:relative;
   background:#40464b;
    height:100%;
    padding:40px 30%;
    margin:0;
} */

input[type="checkbox"] {
    /* display:none; */
}

input[type="checkbox"] + label {
    /* color:#f2f2f2; */
    color: #000;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/checkbox/check_radio_sheet_1.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/checkbox/check_radio_sheet_1.png) -19px top no-repeat;
}
